.myBtn{
  padding: 10px 24px;
  border: none;
  border-radius: 30px;
  background: #E75626;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}